@import 'reset.css';
@import 'normalize.css';
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
img {
    max-width: 100%;
    height: auto;
}
.logo{
    max-width: 100px;
    left: 150px;
}

header{
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
    max-width: auto;
    justify-content: space-between;
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

h1 {
    margin-top: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Секции */
section {
    padding: 40px;
    width: 100%;
    max-width: 800px; /* Примерная ширина содержимого */
}

/* Форма */
form {
    max-width: 400px;
    text-align: left;
}

label, input, textarea, button {
    display: block;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: auto;
}

.block_1 {
    position: relative;
}

.block_1 img {
    width: 100%;
    height: auto;
}
.container_pink {
    background-color: #F1C0C7;
    position: absolute;
    z-index: 1;
    width: 565px;
    height: 90px;
}
.container_pink img {
    width: 84px;
    height: 54px;
}

.block_1 .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-93%, -46%);
    text-align: left;
    color: #fff;
}

.block_1 .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.block_1 .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.block_1 .hero-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
