html, body {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: black;
}

a:hover{
    color: blue;
}


